In [33]:
import pandas as pd
import numpy as np

## `df_a와 df_b를 합치는 데이터프레임`
df_a: 매출원가감소율 2010년부터 2019년까지 있는 데이터프레임 \         
df_b: 2011년부터 2019년까지 해당산업군 중간값이 모여 있는 column\
`하려고 하는 것: df_a와 df_b의 데이터를 합치기` \
df_a의 매출원가 감소율 옆에 해당기업의 해당 년도 중간값을 찾아서 붙여주는 것

In [34]:
df_a = pd.read_csv("./data1.csv", encoding="cp949")
df_b = pd.read_csv("./data2.csv", encoding='cp949')
df_a.drop(columns=["Unnamed: 0"], inplace=True)
df_b.drop(columns=["Unnamed: 0"], inplace=True)

In [35]:
df_a

         회사명  거래소코드    회계년도       매출원가감소율
0      CMG제약  58820  11-Dec        -24.14
1      CMG제약  58820  12-Dec         19.44
2      CMG제약  58820  13-Dec        -18.03
3      CMG제약  58820  14-Dec          3.17
4      CMG제약  58820  15-Dec          1.56
...      ...    ...     ...           ...
15199   흥아해운   3280  15-Dec             0
15200   흥아해운   3280  16-Dec   2.083333333
15201   흥아해운   3280  17-Dec   2.040816327
15202   흥아해운   3280  18-Dec    2.97029703
15203   흥아해운   3280  19-Dec  -7.446808511

[15204 rows x 4 columns]

In [36]:
df_b

,구분,2011년.mid,2012년.mid,2013년.mid,2014년.mid,2015년.mid,2016년.mid,2017년.mid,2018년.mid,2019년.mid
0,CMG제약,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
1,경보제약,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
2,나이벡,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
3,녹십자,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
4,녹십자엠에스,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
...,...,...,...,...,...,...,...,...,...,...
2018,농업회사법인농우바이오,0.00,0.00,0.00,0.00,0.00,44.41,46.35,52.67,51.58
2019,농업회사법인아시아종묘,0.00,0.00,0.00,0.00,0.00,44.41,46.35,52.67,51.58
2020,우리손에프앤지농업회사법인,0.00,0.00,0.00,0.00,0.00,44.41,46.35,52.67,51.58
2021,애머릿지코퍼레이션,89.79,89.82,88.75,85.50,89.64,88.22,93.29,74.19,52.67
2022,코웨이,32.28,33.51,33.70,33.44,31.44,34.14,33.39,34.72,35.81

In [32]:
# df_a에는 
df_a["구분"].value_counts()

CMG제약      1
콜마비앤에이치    1
구영테크       1
광림         1
메가엠디       1
          ..
동아엘텍       1
더블유아이      1
대동         1
다이나믹디자인    1
코웨이        1
Name: 구분, Length: 2023, dtype: int64

In [26]:
df_a.reset_index(drop=True, inplace=True)
df_a = df_b["구분"]

In [27]:
df_b = df_b.iloc[:, 1:]
df_b

,2011년.mid,2012년.mid,2013년.mid,2014년.mid,2015년.mid,2016년.mid,2017년.mid,2018년.mid,2019년.mid
0,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
1,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
2,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
3,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
4,41.73,41.84,43.25,44.93,48.21,52.51,52.32,54.69,57.60
...,...,...,...,...,...,...,...,...,...
2018,0.00,0.00,0.00,0.00,0.00,44.41,46.35,52.67,51.58
2019,0.00,0.00,0.00,0.00,0.00,44.41,46.35,52.67,51.58
2020,0.00,0.00,0.00,0.00,0.00,44.41,46.35,52.67,51.58
2021,89.79,89.82,88.75,85.50,89.64,88.22,93.29,74.19,52.67
2022,32.28,33.51,33.70,33.44,31.44,34.14,33.39,34.72,35.81

In [28]:
df_a = pd.DataFrame(df_a)
df_a

                 구분
0             CMG제약
1              경보제약
2               나이벡
3               녹십자
4            녹십자엠에스
...             ...
2018    농업회사법인농우바이오
2019    농업회사법인아시아종묘
2020  우리손에프앤지농업회사법인
2021      애머릿지코퍼레이션
2022            코웨이

[2023 rows x 1 columns]

In [10]:
df_b.head(3)C:\Users\user\Desktop\data\data2.csv

     회사명  거래소코드    회계년도 매출원가감소율
0  CMG제약  58820  11-Dec  -24.14
1  CMG제약  58820  12-Dec   19.44
2  CMG제약  58820  13-Dec  -18.03

In [37]:
for i in range(0, len(df_a)):
    com_c = pd.concat([df_a.loc[i], df_b.loc[i]], axis=1)
    com_c.iloc[1, 0] = com_c.iloc[0, 0]
    com_c = com_c.iloc[1:].reset_index()
    com_c.columns = ['index', 0, 0]
    if i == 0:
        com_d = com_c
        continue
    else:
        com_d = pd.concat([com_d, com_c])

KeyError: 2023

In [12]:
df_a = pd.DataFrame(df_a["회사명"].drop_duplicates())
df_a.dropna(inplace=True)

In [14]:
df_a

        회사명
0     CMG제약
1     DB하이텍
2      ES큐브
3     HJ중공업
4     MH에탄올
...     ...
2018   휴림로봇
2019   휴마시스
2020     휴젤
2021   흥구석유
2022   흥아해운

[2023 rows x 1 columns]

In [15]:
df_a.reset_index(drop=True, inplace=True)
df_a = df_b["회사명"]

In [16]:
df_b = df_b.iloc[:, 1:]
df_b

       거래소코드    회계년도       매출원가감소율
0      58820  11-Dec        -24.14
1      58820  12-Dec         19.44
2      58820  13-Dec        -18.03
3      58820  14-Dec          3.17
4      58820  15-Dec          1.56
...      ...     ...           ...
15199   3280  15-Dec             0
15200   3280  16-Dec   2.083333333
15201   3280  17-Dec   2.040816327
15202   3280  18-Dec    2.97029703
15203   3280  19-Dec  -7.446808511

[15204 rows x 3 columns]